<div id="main">
  <p>
    <span class="redbox">
      Sass允许CSS规则彼此嵌套。然后内部规则仅适用于外部规则的选择器。例如：
    </span>
    When running on Ruby 1.9 and later
    <br>
    <a href="">
      这有助于避免重复父选择器
    </a>
  </p>
  <div id="main-sidebar">
    我是sidebar
  </div>
  <div>
    <a href="">例如：</a>
  </div>
  <pre>
     pre
  </pre>
</div>
<a href="">
  引用父选择器
</a>

<div class="funky">
  我是funky
</div>
<div class="tom">
  我是tom
</div>
<div class="content">
    我是content
</div>
<p class="large-text">Today, i'm study Sass</p>
<p class="exp">我就举个插值的例子</p>
<p class="operators ">我就举个运算的例子</p>
<p class="plain">我就举个用字体大小除以行高的的例子</p>
<p class="reback">我就举个一元否定的的例子</p>
<p class="color">我就举个颜色相加的的例子</p>

<p class="str">我就举个字符串连接的例子</p>

<p class="and">
    '\&'的使用
    <a href="">888</a>
</p>
<div id="contain">我就举个contain的例子</div>
<br>
<div class="error seriousError">
  继承，class也可以继承哦
</div>
<br>
<div class="hoverlink">
  <a href="www.baidu.com">百度一下你就知道</a>
</div>



<div class="notice">
  <a href="">Notice</a>
</div>


<div class="parent">
  parent

  <h3 class="child">child</h3>
</div>